
.Grid {
  background-color: #d4ffc5;
  padding: 0.25em;
  position: relative;
  transition: 1s;
}

.Grid .inner {
  width: 100%;
  height: 100%;
}

.Grid .inner pre {
  word-break: break-word;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Grid textarea {
  background-color: #e1ffde;
  font-family: monospace;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
}

.Grid button {
  visibility: hidden;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.Grid:hover button {
  visibility: visible;
}

.Layer {
  /*margin: 4em auto;*/
  position: relative;
}

.Layer .grids {
  margin-left: 5em;
  display: grid;
  grid-template-columns: repeat(3, 12em);
  grid-template-rows: repeat(3, 12em);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  transition: 1s;
}

.popping {
  grid-template-columns: repeat(3, 0em);
  grid-template-rows: repeat(3, 0em);
  width: 0;
  height: 0;
  opacity: 0;
}

.popping .Grid {
  /*width: 0;*/
  /*height: 0;*/

}

.pop {
  /*width: 3em;*/
  /*height: 3em;*/
  font-size: 2em;
  position: fixed;
  top: 4px;
  left: 4px;
  width: 2em;
  height: 2em;
  border-radius: 1.5em;
  background-color: #7bcd72;
  color: #FFF;
}

.pop:hover {
  background-color: limegreen;
}

.pop:active {
  background-color: #00a836;
}
